---
layout: withnav
title: Projects Main Page
name: Projects
permalink: projects.html
---

<section class="list postlist col-sm-8 blog-main">
  <h1>Class Projects</h1>
  
  {% for post in site.posts %}
  {% if post.categories contains "main-project" %}
    <article class="post-link">
      <div class="blog-header">
        <div class="col-xs-3"><img class="thumb" src="{{ post.imgsrc }}"></div>
        <div class="col-xs-9">
          <time class="fat-time">{{ post.time }}</time>
          <h2>
            <a href="{{ post.sitesrc }}" target="_blank" title="{{ post.title }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.copy }}</p>
          </div>
      </div>
    </article>
  {% endif %}
{% endfor %}

  
</section>


