---
layout: withnav
title: Favorites
name: Favorite Things on the Internet
---

<section class="list postlist col-sm-8 blog-main">
  <h1>Favorites</h1>
  
<!--
  % for post in site.posts %
    <article class="post-link">
      <div class="blog-header">
        <time>{{ post.date | date_to_string }}</time>
        <h2>
          <a href="{{ post.siteurl }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        </div>
      <div class="post-content">
        <p>{{ post.copy }}</p>
      <img src="{{ post.imgsrc }}">
      </div>
    </article>
  % endfor %
-->
  
    {% for post in site.posts %} 
    {% if post.categories contains "projects" %}
      <article class="post-link">
        <time>{{ post.date | date_to_string }}</time>
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <div class="clear"></div>
      </article>
    {% endif %}
  {% endfor %}
  
   
</section>




